$primary-color: rgb(227, 162, 237);
$secondary-color: rgb(42, 139, 235);
$third-color: rgb(215, 122, 246);
$text-color: rgb(254, 255, 255);

$font-weights: (
  light: 400,
  normal: 500,
  bold: 700,
);

$mobile: 600px;